
<div class="content">
    <div class="container-fluid">
        <div class="row">
         
        </div>
        <div class="row">
               <div class="col-lg-3 col-md-5" >
                    <div class="panel panel-primary">
                         <div class="panel-heading">
                             <div class="row">
                                 <div class="col-xs-3">
                                     <i class="fa fa-comments fa-5x"></i>
                                 </div>
                                <div class="col-xs-9 text-right">
                                     <div class="huge"></div>
                                     <div>הודעות !</div>
                                  </div>
                              </div>
                          </div>
                         <a href="#/main">
                             <div class="panel-footer">
                                 <span class="pull-left">מעבר להודעות</span>
                                 <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                 <div class="clearfix"></div>
                            </div>
                         </a>
                      </div>
            </div>
                <div class="col-lg-3 col-md-5">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"> מספר לקוחות! {{numOfClient}}</div>
                                    <div>מחיר ממוצע ללקוח <i class="fa fa-ils" aria-hidden="true"></i> {{avgTotal(paysTotalSum,numOfClient) |number }}</div>
                                </div>
                            </div>
                        </div>
                        <a href="">
                            <div class="panel-footer">
                                <span class="pull-left"></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-5">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <!--<div class="huge">סה"כ שמלות! {{cDress}}</div>-->
                                     <div>מחיר ממוצע לשמלה <i class="fa fa-ils" aria-hidden="true"></i> {{avgTotal(paysTotalSum,cDress) |number }} </div>
                                    <div>מחיר ממוצע לערב <i class="fa fa-ils" aria-hidden="true"></i> {{avgTotal(priceOfEvnDress,countOfEvnDress) |number }} </div>
                                    <div>מחיר ממוצע לכלה <i class="fa fa-ils" aria-hidden="true"></i> {{avgTotal(priceOfBrideDress,countOfBrideDress) |number }} </div>

                                </div>
                            </div>
                        </div>
                        <a href="">
                            <div class="panel-footer">
                                <span class="pull-left"></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>        
                <div class="col-lg-3 col-md-5">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-exchange fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"> סה"כ הכנסות <i class="fa fa-ils" aria-hidden="true"></i> {{tPrice}} </div>
                                    <div> מתוכם שולמו <i class="fa fa-ils" aria-hidden="true"></i> {{paysDoneSum}} </div>
                                    <div>סה"כ כסף עתידי <i class="fa fa-ils" aria-hidden="true"></i> {{tPrice - paysDoneSum}} </i></div>
                                </div>
                            </div>
                        </div>
                        
                            <div class="panel-footer">
                                <span class="pull-left"></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                     
                    </div>
                </div>
        </div>
        <div class="row">

                     <div class="col-lg-4 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="title">איך הגיעו אלינו</h4>
                        <p class="category"> 
                            על פי זמן
                        </p>
                    </div>
                    <div class=" panel-body">
                        <canvas class="chart chart-bar ng-isolate-scope" chart-data="dataAdvertising"
                            chart-labels="labelsDate" chart-colors="colorsAdvertising"
                            chart-dataset-override="datasetOverrideAdvertising" style="text-align: right">
                        </canvas>
                        
                    </div>
                    <div class="content">
                        <div class="panel-footer">
                            <div class="legend">
                                 <div class="row">
                                מתאריך 
                                <input type="date" ng-model="startDate" required>
                                עד תאריך 
                                <input type="date"  ng-model="endDate" required>
                           
                                <button type="button" ng-show="!filterDate" class="btn btn-primary" ng-click="getBrdideByDate(startDate,endDate)"> סינון <i class="fa fa-filter" aria-hidden="true"></i>  </button>
                                <button type="button" ng-show="filterDate" class="btn btn-primary" ng-click=" unFilter()"  > ביטול מסנן <i class="fa fa-remove" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
               <div class="col-lg-4 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="title"> הכנסות ב 10k  / שמלות / לקוחות</h4>
                        <p class="category"> 
                            על פי זמן
                        </p>
                    </div>
                    <div class=" panel-body">
                        <canvas class="chart chart-bar ng-isolate-scope" chart-data="dataDate"
                            chart-labels="labelsDate" chart-colors="colors"
                            chart-dataset-override="datasetOverride" style="text-align: right">
                        </canvas>
                        
                    </div>
                    <div class="content">
                        <div class="panel-footer">
                            <div class="legend">
                                 <div class="row">
                                מתאריך 
                                <input type="date" ng-model="startDate" required>
                                עד תאריך 
                                <input type="date"  ng-model="endDate" required>
                           
                                <button type="button" ng-show="!filterDate" class="btn btn-primary" ng-click="getBrdideByDate(startDate,endDate)"> סינון <i class="fa fa-filter" aria-hidden="true"></i>  </button>
                                <button type="button" ng-show="filterDate" class="btn btn-primary" ng-click=" unFilter()"  > ביטול מסנן <i class="fa fa-remove" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                          <div class="col-lg-4 col-md-6" >
                    <div class="panel panel-bLigth"  >
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-exclamation fa-5x" aria-hidden="true" ></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge"> אירועי השבוע</div>
                                    <div  class="bride" dir-paginate="bride in bridesWeek |orderBy:sortKey:reverse|filter:serchText | itemsPerPage:pageSize">
                                        {{bride.first_name}} {{bride.last_name}}  {{bride.date_event | date:"dd/MM/yy"}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="">
                            <div class="panel-footer">
                                <span class="pull-left"></span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
            </div>
      

         
        </div>
        <div class="row">
                        <div class="col-lg-3 col-md-5">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="title">לקוחות {{numOfClient}}</h4>
                        <p class="category">סטטוס לקוחות</p>
                    </div>
                    <div class=" panel-body">
                        <canvas id="doughnut" class="chart chart-doughnut"
                            chart-data="data" chart-labels="labels">
                        </canvas> 
                    </div>
                    <div class="content">
                        <div class="panel-footer">
                            <div class="legend">
                                <i class="fa fa-circle text-info"></i> פעילים {{}}
                                <i class="fa fa-circle text" style="color: gray"></i> ממתינים
                                <i class="fa fa-circle text-danger"></i> סגורים

                            </div>
                        </div>
                    </div>
                </div>
            </div>
                  <div class="col-lg-3 col-md-5">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h4 class="title"> שמלות {{cDress}}</h4>
                        <p class="category"> כלה לעומת ערב</p>
                    </div>
                    <div class=" panel-body">
                     <canvas id="base" class="chart-base" chart-type="type"
                        chart-data="data2" chart-labels="labels2" >
                        </canvas> 
                    </div>
                    <div class="content">
                        <div class="panel-footer">
                            <div class="legend">
                                <i class="fa fa-circle text-info"></i> כלה {{countOfBrideDress}}
                                <i class="fa fa-circle text" style="color: gray"></i> ערב {{countOfEvnDress}}
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>
</div>

