
<navbar></navbar>
 <div class="content">
  <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2> לקוחה :{{bride.first_name}}</h2>
                 <div class="col-md-6">
                    <div class="panel panel-default" >
                        <div class="panel-heading"> פרטים אישיים <small>( נוצר ב {{bride.created_at | date:"HH:MM , MMM , d,yy"}} )</small><i class="fa fa-pencil" style="float: left" ng-click="editForm()" ></i></div>
                        <div class="panel-body" >
                           <table class="table table-bordered table-hover table-condensed" style="width:100% ; float: right">
                                    <tr>
                                        <th>שם פרטי:   </th> 
                                        <td editable-firstname ="bride.first_name"> {{bride.first_name || 'empty'}}</td>
                                    </tr>
                                    <tr>
                                        <th>שם משפחה:   </th> 
                                        <td editable-lastname="bride.last_name">{{bride.last_name || 'empty'}}</td>
                                    </tr>
                                    <tr>
                                        <th>תעודת זהות:  </th> 
                                        <td  editable-bid="bride.b_id">{{bride.b_id ||'empty'}}</td>
                                    </tr>
                                    <tr>
                                        <th>דואר אלקטרוני:</th> 
                                        <td  editable-email="bride.email">{{bride.email ||'empty'}}</td>
                                    </tr>
                                    <tr>
                                        <th>פלאפון </th>
                                        <td  editable-phone1="bride.phone1">{{bride.phone1 ||'empty'}}</td>
                                    </tr>
                                    <tr>
                                        <th> 2 פלאפון </th>
                                        <td  editable-phone2="bride.phone2">{{bride.phone2 ||'empty'}}</td>
                                    </tr>
                                    <tr>
                                        <th> כתובת </th>
                                        <td  editable-adress="bride.adress">{{bride.adress ||'empty'}}</td>
                                    </tr>
                                    <tr>
                                      <tr>
                                        <th> תאריך אירוע : </th> 
                                        <td  editable-dateevent="bride.date_event">{{bride.date_event ||'empty'}}</td>
                                    </tr>
                                    <tr>
                                        <th> דגם שמלה  : </th>
                                        <td  editable="bride.dress_type">{{bride.dress_type ||'empty'}}</td>
                                    </tr>
                                      <tr>
                                        <th> 2 דגם שמלה  : </th> 
                                        <td  editable="bride.dress_type2">{{bride.dress_type2 ||'empty'}}</td>
                                    </tr>
                                     <tr>
                                        <th> יום שירות :</th>

                                        <td  editable="bride.day_service">{{bride.day_service ||'empty'}}</td>
                                    </tr>
                                     <tr>
                                        <th> מחיר  :</th>
                              
                                        <td  editable="bride.price">{{bride.price ||'empty'}}</td>
                                    </tr>
                                    <tr>
                                        <th> הערות  :</th>
                                        <td  editable="bride.remark">{{bride.remark ||'empty'}}</td>
                                    </tr>
                             </table>
                        </div>
                    </div>
                 </div>
                 <div class="col-md-6">
                    <div class="panel panel-default" >
                        <div class="panel-heading">  סה"כ לתשלום: {{bride.price}} <i class="fa fa-pencil" style="float: left"></i> </div>
                        <div class="panel-body" >
                            <table class="table table-bordered table-hover table-condensed"style="width:100%">       
                                    <tr>
                                        <th>
                                            <input type="text"  ng-model="newPayment.pay" placeholder=" סכום תשלום " value="">
                                        </th>
                                        <th>
                                            <input type="date"  ng-model="newPayment.date_pay">
                                        </th>
                                        <th>
                                            <input type="checkbox" ng-model="newPayment.date_pay"> בוצע 
                                        </th>
                                        
                                        <th>
                                            <button ng-click="addPayment(newPayment)"> הוסף תשלום </button>
                                        </th>
                                    </tr>
                                    <tr class="brides" ng-repeat="payment in payments track by $index"  style="text-align: center">

                                            <td>{{payments.pay}}</td>
                                            <td>{{payments.date_pay | date:" MMM d, yy"}}</td>
                                            <td>{{payments.done }}</td>
                                    </tr>    
                             </table>
                        </div>
                    </div>
                 </div>    
            </div>
     </div>
  </div>
</div>






