
<navbar></navbar>
 <div class="content">
  <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2> לקוחה :{{bride.first_name}}</h2>
                 <div class="col-md-6">
                    <div class="panel panel-default" >
                        <div class="panel-heading"> פרטים אישיים <small>( נוצר ב {{bride.created_at | date:"HH:MM , MMM , d,yy"}} )</small>
                            <i class="fa fa-save" style="float: left" ng-click="update(bride)" ng-click=""  ng-show="modifyField" > שמירה</i>
                            <i class="fa fa-pencil" style="float: left" ng-click="modify(bride)"ng-hide="viewField"> עריכה</i>
                        </div>
                        <div class="panel-body" >
                           <table class="table table-bordered table-hover table-condensed" style="width:100% ; float: right">
                                    <tr>
                                        <th>שם פרטי:   </th> 
                                        <td ng-show="modifyField"><input type="text" ng-model="bride.first_name"/></td>
                                        <td ng-hide="viewField">{{bride.first_name || ''}}</td>
                                    </tr>
                                    <tr>
                                        <th>שם משפחה:   </th> 
                                        <td ng-hide="viewField">{{bride.last_name || ''}}</td>
                                        <td ng-show="modifyField"><input type="text" ng-model="bride.last_name"/></td>
                                    </tr>
                                    <tr>
                                        <th>תעודת זהות:  </th> 
                                        <td ng-show="modifyField"> <input type="text" ng-model="bride.b_id"></td>
                                           <td ng-hide="viewField">  {{bride.b_id ||''}}</td>
                                    </tr>
                                    <tr>
                                        <th>דואר אלקטרוני:</th> 
                                        <td  ng-show="modifyField"> <input type="text" ng-model="bride.email"></td>
                                              <td ng-hide="viewField"> {{bride.email ||''}}</td>
                                    </tr>
                                    <tr>
                                        <th>פלאפון </th>
                                        <td  ng-show="modifyField"> <input type="text" ng-model="bride.phone1"></td>
                                          <td ng-hide="viewField">  {{bride.phone1 ||''}}</td>
                                    </tr>
                                    <tr>
                                        <th> 2 פלאפון </th>
                                        <td ng-show="modifyField"> <input type="text" ng-model="bride.phone2"></td>
                                            <td ng-hide="viewField">{{bride.phone2 ||''}}</td>
                                    </tr>
                                    <tr>
                                        <th> כתובת </th>
                                        <td ng-show="modifyField"><input type="text" ng-model="bride.adress"></td>
                                        <td ng-hide="viewField">{{bride.adress ||''}}</td>
                                    </tr>
                                    <tr>
                                      <tr>
                                        <th> תאריך אירוע : </th> 
                                        <td ng-show="modifyField"> <input type="text" ng-model="bride.date_event"></td>
                                       <td ng-hide="viewField"> {{bride.date_event ||''}}</td>
                                    </tr>
                                    <tr>
                                        <th> דגם שמלה  : </th>
                                        <td ng-show="modifyField"> <input type="text" ng-model="bride.dress_type"></td>
                                        <td ng-hide="viewField">{{bride.dress_type ||''}}</td>
                                    </tr>
                                      <tr>
                                        <th> 2 דגם שמלה  : </th> 
                                        <td  ng-show="modifyField"> <input type="text" ng-model="bride.dress_type2"></td>
                                        <td ng-hide="viewField">{{bride.dress_type2 ||''}}</td>
                                    </tr>
                                     <tr>
                                        <th> יום שירות :</th>

                                        <td  ng-show="modifyField"> <input type="text" ng-model="bride.day_service"></td>
                                        <td ng-hide="viewField">{{bride.day_service ||'empty'}}</td>
                                    </tr>
                                     <tr>
                                        <th> מחיר  :</th>
                              
                                        <td  ng-show="modifyField"> <input type="text" ng-model="bride.price"></td>
                                        <td ng-hide="viewField">{{bride.price ||'empty'}}</td>
                                    </tr>
                                    <tr>
                                        <th> הערות  :</th>
                                        <td ng-show="modifyField"> <input type="text" ng-model="bride.remark"></td>
                                        <td ng-hide="viewField">{{bride.remark ||'empty'}}</td>
                                    </tr>
                             </table>
                        </div>
                    </div>
                 </div>
                 <div class="col-md-6">
                    <div class="panel panel-default" >
                        <div class="panel-heading">  סה"כ לתשלום: <b style="color: red"><i class="fa fa-ils" aria-hidden="true"> </i> {{bride.price}} </b><i class="fa fa-pencil" style="float: left"></i> </div>
                        <div class="panel-body" >
                            <table class="table table-bordered table-hover table-condensed" style="width:100%">       
                                    <tr>
                                        <th>
                                            <input type="text"  ng-model="newPayment.pay" placeholder=" סכום תשלום " value="">
                                        </th>
                                        <th>
                                            <input type="date"  ng-model="newPayment.date_pay">
                                        </th>
                                        <th>
                                            <input type="checkbox" ng-model="newPayment.done"> בוצע 
                                        </th>
                                        
                                        <th>
                                            <button type="button" class="btn btn-success" ng-if="allowPay" ng-click="addPayment(newPayment)"> הוסף תשלום </button>
                                        </th>
                                    </tr>
                                    <tr class="brides" ng-repeat="payment in brideWithPayment.payments track by $index"  style="text-align: center">
                                            <td>{{payment.pay}}</td>
                                            <td>{{payment.date_pay | date:" MMM d, yy"}}</td>
                                            <td>{{payment.done|| 'לא'}}</td>
                                            <td>
                                                <button type="button" class="btn btn-danger" ng-click="delPayment(payment._id)">  <i class="fa fa-trash-o"></i>  מחק </button>
                                                <button type="button" class="btn btn-info" ng-click="editPayment(payment._id)"> ערוך </button>
                                            </td>
                                    </tr>
                                    <tr>
                                      <td >
                                        סה"כ <b style="color: green"><i class="fa fa-ils" aria-hidden="true"> </i> {{getTotal()}}</b> שולם , מתוך  <b style="color: red"><i class="fa fa-ils" aria-hidden="true"> </i> {{bride.price}} </b>
                                        </td>
                                    </tr>
                                 
                             </table>
                        </div>
                              <div class=" panel-footer" > 
                                 יתרה לתשלום: <b style="color: red"><i class="fa fa-ils" aria-hidden="true"> </i> {{bride.price - getTotal()}} </b> 
                             </div>
                    </div>
                 </div>    
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">               
                    <div class="panel panel-default" ng-repeat="size in brideWithSize.sizes"> 
                        <div class="panel-heading"> מידות <small>עודכן ב: {{size.last_update}} </small>
                            <i class="fa fa-save" style="float: left" ng-click="upSize(size, size._id)"  ng-show="sizeModifyField" > שמירה</i>
                            <i class="fa fa-pencil" style="float: left" ng-click="sizeModify(size, size._id)"ng-hide="sizeViewField"> עריכה</i>
                        </div>
                        <div class="panel-body"  >   
                           <table class="table table-bordered table-hover table-condensed"  style="width:100% ; float: right">
                                    <tr>
                                        <th>חזה:   </th> 
                                        <td ng-show="sizeModifyField"><input type="text" ng-model="size.chest "/></td>
                                        <td ng-hide="sizeViewField">{{size.chest|| ''}}</td>
                                    </tr>
                                    </tr>
                                    <tr>
                                        <th>מותן:   </th> 
                                        <td ng-hide="sizeViewField">{{size.waist|| ''}}</td>
                                        <td ng-show="sizeModifyField"><input type="text" ng-model="size.waist"/></td>
                                    </tr>
                                    <tr>
                                        <th>ירכיים:  </th> 
                                        <td ng-show="sizeModifyField"> <input type="text" ng-model="size.hips "></td>
                                           <td ng-hide="sizeViewField">  {{size.hips ||''}}</td>
                                    </tr>
                                    <tr>
                                        <th>מעל החזה:</th> 
                                        <td  ng-show="sizeModifyField"> <input type="text" ng-model="size.upChest"></td>
                                              <td ng-hide="sizeViewField"> {{size.upChest ||''}}</td>
                                    </tr>
                                    <tr>
                                        <th>מתחת לחזה </th>
                                        <td  ng-show="sizeModifyField"> <input type="text" ng-model="size.downChest "></td>
                                          <td ng-hide="sizeViewField">  {{size.downChest ||''}}</td>
                                    </tr>
                                    <tr>
                                        <th> מתפר חזה </th>
                                        <td ng-show="sizeModifyField"> <input type="text" ng-model="size.breast_seam"></td>
                                            <td ng-hide="sizeViewField">{{size.breast_seam||''}}</td>
                                    </tr>
                                    <tr>
                                        <th> מתפר גב </th>
                                        <td ng-show="sizeModifyField"><input type="text" ng-model="size.stitch_back"></td>
                                        <td ng-hide="sizeViewField">{{size.stitch_back ||''}}</td>
                                    </tr>
                                    <tr>
                                      <tr>
                                        <th> רוחב קדמי: </th> 
                                        <td ng-show="sizeModifyField"> <input type="text" ng-model="size.front_width"></td>
                                       <td ng-hide="sizeViewField"> {{size.front_width||''}}</td>
                                    </tr>
                                     <tr>
                                        <th>רוחב גב  : </th>
                                        <td ng-show="sizeModifyField"> <input type="text" ng-model="size.back_weidth"></td>
                                        <td ng-hide="sizeViewField">{{size.back_weidth||''}}</td>
                                    </tr>
                                    <tr>
                                        <th>רוחב חזה  : </th>
                                        <td ng-show="sizeModifyField"> <input type="text" ng-model="size.chest_weidth"></td>
                                        <td ng-hide="sizeViewField">{{size.chest_weidth||''}}</td>
                                    </tr>
                                      <tr>
                                        <th> אורך מהמותן : </th> 
                                        <td  ng-show="sizeModifyField"> <input type="text" ng-model="size.hip_lenght"></td>
                                        <td ng-hide="sizeViewField">{{size.hip_lenght||''}}</td>
                                    </tr>
                                     <tr>
                                        <th> אורך צד :</th>

                                        <td  ng-show="sizeModifyField"> <input type="text" ng-model="size.side_lenght"></td>
                                        <td ng-hide="sizeViewField">{{size.side_lenght||''}}</td>
                                    </tr>
                                     <tr>
                                        <th> כתפיים  :</th>
                              
                                        <td  ng-show="sizeModifyField"> <input type="text" ng-model="size.shoulder "></td>
                                        <td ng-hide="sizeViewField">{{size.shoulder||''}}</td>
                                    </tr>
                                    <tr>
                                        <th> אורך שרוול  :</th>
                                        <td ng-show="sizeModifyField"> <input type="text" ng-model="size.sleeve_length"></td>
                                        <td ng-hide="sizeViewField">{{size.sleeve_length||''}}</td>
                                    </tr>
                                    <tr>
                                        <th>אורך שמלה  :</th>
                                        <td ng-show="sizeModifyField"> <input type="text" ng-model="size.dress_lenght "></td>
                                        <td ng-hide="sizeViewField">{{size.dress_lenght||''}}</td>
                                    </tr>
                                    <tr>
                                        <th> אורך חלק עליון  :</th>
                                        <td ng-show="sizeModifyField"> <input type="text" ng-model="size.top_lenght"></td>
                                        <td ng-hide="sizeViewField">{{size.top_lenght||''}}</td>
                                    </tr>
                                    			
                             </table>
                        </div>
                    </div>
                 </div>
                
            </div>
        </div>
  </div>
</div>






