
<navbar></navbar>
 <div class="content">
    <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2> לקוחה :{{bride.first_name}} <small> (מצב : {{bride.status}})</small></h2>
                    <div class="col-md-4">
                        <div class="panel panel-info" >
                            <div class="panel-heading"> פרטים אישיים <small>( נוצר ב {{bride.created_at | date:"HH:MM , dd/MM/yy"}} )</small>
                                <i class="fa fa-save" style="float: left" ng-click="update(bride)"  ng-show="modifyField" > שמירה</i>
                                <i class="fa fa-pencil" style="float: left" ng-click="modify(bride)"ng-hide="viewField"> עריכה</i>
                            </div>
                            <div class="panel-body" >
                            <table class="table table-bordered table-hover table-condensed" style="width:100%" id="tStyle">
                                <form mame="brideFrom">
                                        <tr style="text-align: center">
                                            <th  id="thStyle">שם פרטי:   </th> 
                                            <td ng-show="modifyField"><input type="text" ng-model="bride.first_name"  name="first_name" required />
                                                <div ng-messages="brideForm.first_name.$error  && brideForm.first_name.$dirty" >
                                               </div>
                                            </td>
                                            <td ng-hide="viewField">{{bride.first_name || ''}}</td>
                                        </tr>
                                        <tr>
                                            <th  id="thStyle">שם משפחה:   </th> 
                                            <td ng-hide="viewField">{{bride.last_name || ''}}</td>
                                            <td ng-show="modifyField"><input type="text" ng-model="bride.last_name" name="last_name" required/>
                                            <div ng-messages="brideForm.last_name.$error  && brideForm.last_name.$dirty" >
                                                <div ng-message="required">הכנס משפחה </div>
                                               </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th  id="thStyle">תעודת זהות:  </th> 
                                            <td ng-show="modifyField"> <input type="number" ng-model="bride.b_id"  name="b_id" required>
                                              <div ng-messages="brideForm.b_id.$error  && brideForm.b_id.$dirty" >
                                                <div ng-message="required">הכנס ת"ז </div>
                                               </div>
                                               </td>
                                            <td ng-hide="viewField">  {{bride.b_id ||''}}</td>
                                        </tr>
                                        <tr>
                                            <th  id="thStyle">דואר אלקטרוני:</th> 
                                            <td  ng-show="modifyField"> <input type="email" ng-model="bride.email"></td>
                                                <td ng-hide="viewField"> {{bride.email ||''}}</td>
                                        </tr>
                                        <tr>
                                            <th  id="thStyle">פלאפון </th>
                                            <td  ng-show="modifyField"> <input type="tel" ng-model="bride.phone1" name="phone1"  ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" required>
                                                <div ng-messages="brideForm.phone1.$error  && brideForm.phone1.$dirty" >
                                                <div ng-message="required">הכנס פלאפון </div>
                                               </div>
                                            </td>
                                            <td ng-hide="viewField">  {{bride.phone1 ||''}}</td>
                                        </tr>
                                        <tr>
                                            <th  id="thStyle"> 2 פלאפון </th>
                                            <td ng-show="modifyField"> <input type="tel" ng-model="bride.phone2"></td>
                                                <td ng-hide="viewField">{{bride.phone2 ||''}}</td>
                                        </tr>
                                        <tr>
                                            <th  id="thStyle"> כתובת </th>
                                            <td ng-show="modifyField"><input type="text" ng-model="bride.adress"></td>
                                            <td ng-hide="viewField">{{bride.adress ||''}}</td>
                                        </tr>
                                        <tr>
                                        <tr>
                                            <th  id="thStyle"> תאריך אירוע : </th> 
                                            <td ng-show="modifyField"> <input type="date" ng-model="bride.date_event" name="date_event"ng-chenge="checkErr" required>
                                               <div ng-messages="brideForm.date_event.$error  && brideForm.date_event.$dirty" >
                                                <div ng-message="required">הכנס פלאפון </div>
                                                <span>{{errMessage}}</span>
                                               </div>
                                            </td>
                                        <td ng-hide="viewField"> {{bride.date_event | date:"shortDate"}}</td>
                                        </tr>
                                        <tr>
                                            <th  id="thStyle"> יום שירות :</th>
                                                <td  ng-show="modifyField">
                                                    <div class="radio">
                                                    <label>
                                                    <input type="radio" value="כן" ng-model="bride.day_service" name="day_service" />
                                                    </label>כן
                                                    </div>
                                                    <div class="radio">
                                                    <label>
                                                        
                                                        <input type="radio" value="לא" ng-model="bride.day_service" name="day_service" > 
                                                    </label>לא
                                                    </div>
                                                 </td>
                                            <td ng-hide="viewField">{{bride.day_service ||''}}</td>
                                        </tr>
                                        <tr>
                                            <th  id="thStyle"> הערות  :</th>
                                            <td ng-show="modifyField"> <input type="text" ng-model="bride.remark"></td>
                                            <td ng-hide="viewField">{{bride.remark ||''}}</td>
                                        </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="panel panel-info" >
                            <div class="panel-heading">  סה"כ לתשלום: <b style="color: red"><i class="fa fa-ils" aria-hidden="true"> </i> {{bride.price}} </b><i class="fa fa-pencil" style="float: left"></i> </div>
                            <div class="panel-body" >
                                <table class="table table-bordered table-hover table-condensed" >       
                                        <tr >
                                            <th>
                                                <input type="text"  ng-model="newPayment.pay" placeholder=" סכום תשלום " value="">
                                            </th>
                                            <th>
                                                <input type="date"  ng-model="newPayment.date_pay">
                                            </th>
                                            
                                            <th>
                                                <input type="checkbox" value="כן" ng-model="newPayment.done"> בוצע 
                                            </th>
                                            
                                            <th>
                                                <button type="button" class="btn btn-success btn-sm"  ng-click="addPayment(newPayment)">הוספה <i class="fa fa-plus" aria-hidden="true"></i></button>
                                            </th>
                                        </tr>
                                        <tr class="brides" ng-repeat="payment in brideWithPayment.payments track by $index"  style="text-align: center">
                                            
                                                <td ng-show="paymentModifyField"><input type="number" ng-model="payment.pay"/></td>
                                                <td ng-hide="paymentViewField">{{payment.pay}}</td>

                                                <td ng-show="paymentModifyField"><input type="date" ng-model="payment.date_pay"/></td>
                                                <td ng-hide="paymentViewField">{{payment.date_pay | date:"shortDate"}}</td>

                                                <td ng-show="paymentModifyField"><input type="checkbox" value="כן" ng-model="payment.done"/></td>
                                                 <td ng-hide="paymentViewField">{{payment.done || " לא שולם"}}</td>
                                                <td>

                                                    <button type="button" class="btn btn-info btn-sm" ng-click="paymentModify(payment ,payment._id)" ng-hide="paymentViewField"> <i class="fa fa-pencil"></i> </button>
                                                    <button type="button" class="btn btn-info btn-sm" ng-click="upPayment(payment ,payment._id)"  ng-show="paymentModifyField"> <i class="fa fa-save"></i> </button>
                                                    <button type="button" class="btn btn-danger btn-sm" ng-click="delPayment(payment._id)">  <i class="fa fa-trash-o"></i> </button>
                                                </td>
                                        </tr>
                                        <tr>
                                            <td >
                                        חישוב כל התשלומים <b style="color: darkblue"><i class="fa fa-ils" aria-hidden="true"> </i> {{allPayment()}} </b>
                                            </td>
                                            <td></td>
                                        <td >
                                            סה"כ שולם <b style="color: green"><i class="fa fa-ils" aria-hidden="true"> </i> {{getTotal()}}</b>, מתוך  <b style="color: red"><i class="fa fa-ils" aria-hidden="true"> </i> {{bride.price}} </b>
                                            </td>
                                            <td> </td>
                                        </tr>
                                    
                                </table>
                            </div>
                                <div class=" panel-footer" > 
                                    יתרה לתשלום: <b style="color: red"><i class="fa fa-ils" aria-hidden="true"> </i> {{bride.price - getTotal()}} </b> 
                                </div>
                        </div>
                    </div> 
                </div>
          
                <div class="col-md-12">
               
                                <div class="panel panel-info">
                                    <div class="panel-heading"> שמלות </div>
                                    <div class="panel-body">
                                            <table class="table table-bordered table-hover table-condensed" style="width:100%">       
                                                <tr>
                                                        <th>		
                                                        <select  ng-model="newDress.t_dress" placeholder=" סוג שמלה " value="סוג שמלה" >
                                                            <option>כלה</option>
                                                            <option>ערב</option>
                                                        </select>
                                                        </th>

                                                    <!--<th><select>
                                                        <input type="option" ng-model="selectedName" ng-repeat="x in names"  ng-model="newDress.t_dress" placeholder=" סוג שמלה " value=""> {{x}}</option>
                                                        </select>
                                                    </th>-->
                                                     <th>
                                                        <input type="text"  ng-model="newDress.price_dress" placeholder=" מחיר שמלה " value="">
                                                    </th>
                                                    <th>
                                                        <button type="button" class="btn btn-success btn-sm"  ng-click="addDress(newDress)">הוספה <i class="fa fa-plus" aria-hidden="true"></i> </button>
                                                    </th>
                                                </tr>
                                                <tr  ng-repeat="dress in brideWithDress.dresses track by $index"  style="text-align: center">
                                                        <td ng-show="dressModifyField"><input type="text" ng-model="dress.t_dress"/></td>
                                                        <td ng-hide="dressViewField">{{dress.t_dress}}</td>

                                                        <td ng-show="dressModifyField"><input type="text" ng-model="dress.price_dress"/></td>
                                                        <td ng-hide="dressViewField">{{dress.price_dress}}</td>
                                                        <td>
                                                            <button type="button" class="btn btn-primary btn-sm" ng-click="dressModify(dress ,dress._id)" ng-hide="dressViewField">  <i class="fa fa-pencil"></i> </button>
                                                            <button type="button" class="btn btn-success btn-sm" ng-click="upDress(dress ,dress._id ,bride)"  ng-show="dressModifyField">  <i class="fa fa-save"></i> </button>
                                                            <button type="button" class="btn btn-info btn-sm" ng-click="dressInfoRoute(dress._id)"><i class="fa fa-folder-open" aria-hidden="true"></i></button>
                                                            <button type="button" class="btn btn-danger btn-sm" ng-click="delDress(dress._id, dress.price_dress)">  <i class="fa fa-trash-o"></i> </button>

                                                        </td>
                                                </tr>
                                            </table>
                                    </div>
                                    <div class="panel-footer">
                                        סה"כ :{{getTotalPrice()}}
                                    </div>
                                </div>
                  
                    </div>    
                </div>
        </div>
 </div>
            <!--<div class="row">
                <div calss="col-md-12">
                        <div class="col-md-4">               
                            <div class="panel panel-default" ng-repeat="size in brideWithSize.sizes"> 
                                <div class="panel-heading"> מידות <small>עודכן ב: {{size.last_update}} </small>
                                    <i class="fa fa-save" style="float: left" ng-click="upSize(size, size._id)"  ng-show="sizeModifyField" > שמירה</i>
                                    <i class="fa fa-pencil" style="float: left" ng-click="sizeModify(size, size._id)"ng-hide="sizeViewField"> עריכה</i>
                                </div>
                                <div class="panel-body"  >   
                                    <table class="table table-bordered table-hover table-condensed"  style="width:100% ; float: right">
                                            <tr>
                                                <th>חזה:   </th> 
                                                <td ng-show="sizeModifyField"><input type="text" ng-model="size.chest "/></td>
                                                <td ng-hide="sizeViewField">{{size.chest|| ''}}</td>
                                            </tr>
                                            </tr>
                                            <tr>
                                                <th>מותן:   </th> 
                                                <td ng-hide="sizeViewField">{{size.waist|| ''}}</td>
                                                <td ng-show="sizeModifyField"><input type="text" ng-model="size.waist"/></td>
                                            </tr>
                                            <tr>
                                                <th>ירכיים:  </th> 
                                                <td ng-show="sizeModifyField"> <input type="text" ng-model="size.hips "></td>
                                                <td ng-hide="sizeViewField">  {{size.hips ||''}}</td>
                                            </tr>
                                            <tr>
                                                <th>מעל החזה:</th> 
                                                <td  ng-show="sizeModifyField"> <input type="text" ng-model="size.upChest"></td>
                                                    <td ng-hide="sizeViewField"> {{size.upChest ||''}}</td>
                                            </tr>
                                            <tr>
                                                <th>מתחת לחזה </th>
                                                <td  ng-show="sizeModifyField"> <input type="text" ng-model="size.downChest "></td>
                                                <td ng-hide="sizeViewField">  {{size.downChest ||''}}</td>
                                            </tr>
                                            <tr>
                                                <th> מתפר חזה </th>
                                                <td ng-show="sizeModifyField"> <input type="text" ng-model="size.breast_seam"></td>
                                                    <td ng-hide="sizeViewField">{{size.breast_seam||''}}</td>
                                            </tr>
                                            <tr>
                                                <th> מתפר גב </th>
                                                <td ng-show="sizeModifyField"><input type="text" ng-model="size.stitch_back"></td>
                                                <td ng-hide="sizeViewField">{{size.stitch_back ||''}}</td>
                                            </tr>
                                            <tr>
                                            <tr>
                                                <th> רוחב קדמי: </th> 
                                                <td ng-show="sizeModifyField"> <input type="text" ng-model="size.front_width"></td>
                                            <td ng-hide="sizeViewField"> {{size.front_width||''}}</td>
                                            </tr>
                                            <tr>
                                                <th>רוחב גב  : </th>
                                                <td ng-show="sizeModifyField"> <input type="text" ng-model="size.back_weidth"></td>
                                                <td ng-hide="sizeViewField">{{size.back_weidth||''}}</td>
                                            </tr>
                                            <tr>
                                                <th>רוחב חזה  : </th>
                                                <td ng-show="sizeModifyField"> <input type="text" ng-model="size.chest_weidth"></td>
                                                <td ng-hide="sizeViewField">{{size.chest_weidth||''}}</td>
                                            </tr>
                                            <tr>
                                                <th> אורך מהמותן : </th> 
                                                <td  ng-show="sizeModifyField"> <input type="text" ng-model="size.hip_lenght"></td>
                                                <td ng-hide="sizeViewField">{{size.hip_lenght||''}}</td>
                                            </tr>
                                            <tr>
                                                <th> אורך צד :</th>

                                                <td  ng-show="sizeModifyField"> <input type="text" ng-model="size.side_lenght"></td>
                                                <td ng-hide="sizeViewField">{{size.side_lenght||''}}</td>
                                            </tr>
                                            <tr>
                                                <th> כתפיים  :</th>
                                    
                                                <td  ng-show="sizeModifyField"> <input type="text" ng-model="size.shoulder "></td>
                                                <td ng-hide="sizeViewField">{{size.shoulder||''}}</td>
                                            </tr>
                                            <tr>
                                                <th> אורך שרוול  :</th>
                                                <td ng-show="sizeModifyField"> <input type="text" ng-model="size.sleeve_length"></td>
                                                <td ng-hide="sizeViewField">{{size.sleeve_length||''}}</td>
                                            </tr>
                                            <tr>
                                                <th>אורך שמלה  :</th>
                                                <td ng-show="sizeModifyField"> <input type="text" ng-model="size.dress_lenght "></td>
                                                <td ng-hide="sizeViewField">{{size.dress_lenght||''}}</td>
                                            </tr>
                                            <tr>
                                                <th> אורך חלק עליון  :</th>
                                                <td ng-show="sizeModifyField"> <input type="text" ng-model="size.top_lenght"></td>
                                                <td ng-hide="sizeViewField">{{size.top_lenght||''}}</td>
                                            </tr>
                                                        
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="panel panel-default" ng-repeat="dress in brideWithDress.dresses">
                                <div class="panel-heading"> תיאור שמלה <small>עודכן ב: {{dress.last_update}} </small>
                                    <i class="fa fa-save" style="float: left" ng-click="upDress(dress, dress._id)"  ng-show="dressModifyField" > שמירה</i>
                                    <i class="fa fa-pencil" style="float: left" ng-click="dressModify(dress, dress._id)"ng-hide="dressViewField"> עריכה</i>
                                </div>
                                 <div class="panel-body">   
                                      <table class="table table-bordered table-hover table-condensed"  style="width:100% ; float: right">
                                            <tr>
                                                <th>סוג שמלה:   </th> 
                                                <td ng-show="dressModifyField"><input type="text" ng-model="dress.t_dress "/></td>
                                                <td ng-hide="dressViewField">{{dress.t_dress|| ''}}</td>
                                            </tr>
                                            <tr>
                                                <th>דגם:   </th> 
                                                <td ng-hide="dressViewField">{{dress.model|| ''}}</td>
                                                <td ng-show="dressModifyField"><input type="text" ng-model="dress.model"/></td>
                                            </tr>
                                            <tr>
                                                <th>צבע:  </th> 
                                                <td ng-show="dressModifyField"> <input type="text" ng-model="dress.color "></td>
                                                <td ng-hide="dressViewField">  {{dress.color ||''}}</td>
                                            </tr>
                                            <tr>
                                                <th>סוג בד:</th> 
                                                <td  ng-show="dressModifyField"> <input type="text" ng-model="dress.t_cloth"></td>
                                                    <td ng-hide="dressViewField"> {{dress.t_cloth ||''}}</td>
                                            </tr>
                                            <tr>
                                                <th>סוג תחרה </th>
                                                <td  ng-show="dressModifyField"> <input type="text" ng-model="dress.t_lace "></td>
                                                <td ng-hide="dressViewField">  {{dress.t_lace ||''}}</td>
                                            </tr>
                                            <tr>
                                                <th> תיאור מחשוף </th>
                                                <td ng-show="dressModifyField"> <input type="text" ng-model="dress.cleavage_detailes"></td>
                                                    <td ng-hide="dressViewField">{{dress.cleavage_detailes||''}}</td>
                                            </tr>
                                            <tr>
                                                <th> מיקום שסע </th>
                                                <td ng-show="dressModifyField"><input type="text" ng-model="dress.cleft_place"></td>
                                                <td ng-hide="dressViewField">{{dress.cleft_place ||''}}</td>
                                            </tr>
                                            <tr>
                                            <tr>
                                                <th> שרוול: </th> 
                                                <td ng-show="dressModifyField"> <input type="text" ng-model="dress.sleeve"></td>
                                            <td ng-hide="dressViewField"> {{dress.sleeve||''}}</td>
                                            </tr>
                                            <tr>
                                                <th>חצאית נוספת   : </th>
                                                <td ng-show="dressModifyField"> <input type="text" ng-model="dress.another_skirt"></td>
                                                <td ng-hide="dressViewField">{{dress.another_skirt||''}}</td>
                                            </tr>
                                            <tr>
                                                <th>הערות : </th>
                                                <td ng-show="dressModifyField"> <input type="text" ng-model="dress.remark"></td>
                                                <td ng-hide="dressViewField">{{dress.remark||''}}</td>
                                            </tr>		
                                    </table>
                                 </div>
                            </div>
                        </div>
                </div>
            </div>-->

<!--
     <div class="row">
                      <div class="col-md-12">         
                            <div class="panel panel-default" ng-repeat="dress in brideWithDress.dresses"> 
                                <div class="panel-heading"> תיאור שמלה <small>עודכן ב: {{dress.last_update}} </small>
                                    <i class="fa fa-save" style="float: left" ng-click="upDress(dress, dress._id)"  ng-show="dressModifyField" > שמירה</i>
                                    <i class="fa fa-pencil" style="float: left" ng-click="dressModify(dress, dress._id)"ng-hide="dressViewField"> עריכה</i>
                                </div>
                                <div class="panel-body">   
                                <table class="table table-bordered table-hover table-condensed"  style="width:100% ; float: right">
                                            <tr>
                                                <th>סוג שמלה:   </th> 
                                                <td ng-show="dressModifyField"><input type="text" ng-model="dress.t_dress "/></td>
                                                <td ng-hide="dressViewField">{{dress.t_dress|| ''}}</td>
                                            </tr>
                                            <tr>
                                                <th>דגם:   </th> 
                                                <td ng-hide="dressViewField">{{dress.model|| ''}}</td>
                                                <td ng-show="dressModifyField"><input type="text" ng-model="dress.model"/></td>
                                            </tr>
                                            <tr>
                                                <th>צבע:  </th> 
                                                <td ng-show="dressModifyField"> <input type="text" ng-model="dress.color "></td>
                                                <td ng-hide="dressViewField">  {{dress.color ||''}}</td>
                                            </tr>
                                            <tr>
                                                <th>סוג בד:</th> 
                                                <td  ng-show="dressModifyField"> <input type="text" ng-model="dress.t_cloth"></td>
                                                    <td ng-hide="dressViewField"> {{dress.t_cloth ||''}}</td>
                                            </tr>
                                            <tr>
                                                <th>סוג תחרה </th>
                                                <td  ng-show="dressModifyField"> <input type="text" ng-model="dress.t_lace "></td>
                                                <td ng-hide="dressViewField">  {{dress.t_lace ||''}}</td>
                                            </tr>
                                            <tr>
                                                <th> תיאור מחשוף </th>
                                                <td ng-show="dressModifyField"> <input type="text" ng-model="dress.cleavage_detailes"></td>
                                                    <td ng-hide="dressViewField">{{dress.cleavage_detailes||''}}</td>
                                            </tr>
                                            <tr>
                                                <th> מיקום שסע </th>
                                                <td ng-show="dressModifyField"><input type="text" ng-model="dress.cleft_place"></td>
                                                <td ng-hide="dressViewField">{{dress.cleft_place ||''}}</td>
                                            </tr>
                                            <tr>
                                            <tr>
                                                <th> שרוול: </th> 
                                                <td ng-show="dressModifyField"> <input type="text" ng-model="dress.sleeve"></td>
                                            <td ng-hide="dressViewField"> {{dress.sleeve||''}}</td>
                                            </tr>
                                            <tr>
                                                <th>חצאית נוספת   : </th>
                                                <td ng-show="dressModifyField"> <input type="text" ng-model="dress.another_skirt"></td>
                                                <td ng-hide="dressViewField">{{dress.another_skirt||''}}</td>
                                            </tr>
                                            <tr>
                                                <th>הערות : </th>
                                                <td ng-show="dressModifyField"> <input type="text" ng-model="dress.remark"></td>
                                                <td ng-hide="dressViewField">{{dress.remark||''}}</td>
                                            </tr>		
                                    </table>
                                </div>
                            </div>
                        </div>
            </div>-->




