
 <div class="content">
    <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-header"> לקוחה :{{bride.first_name}} {{bride.last_name}} <small> (מצב : {{bride.status}})  מתחתנת ב: {{bride.date_event | date:"dd/MM/yy"}}</small></h2>
                </div>
            </div>
            <div class="row">
                <div calss="col-md-12">
                        <div class="col-md-6">               
                            <div class="panel panel-default" ng-repeat="size in brideWithSize.sizes" > 
                                <div class="panel-heading"> מידות <small>עודכן ב: {{size.last_update | date:"HH:MM , dd/MM/yy"}} </small>
                                    <i class="fa fa-save" style="float: left" ng-click="upSize(size, size._id)"  ng-show="sizeModifyField" > שמירה</i>
                                    <i class="fa fa-pencil" style="float: left" ng-click="sizeModify(size, size._id)"ng-hide="sizeViewField"> עריכה</i>
                                </div>
                                <div class="panel-body"  class="form-group" name="brideForm" >   
                                    <table class="table table-bordered table-hover table-condensed"  style="width:100% ; float: right">
                                            <tr>
                                                <th id="thStyle">חזה:   </th> 
                                                <td ng-show="sizeModifyField"><input type="text" ng-model="size.chest " required/></td>
                                                <td ng-hide="sizeViewField">{{size.chest|| ''}}</td>
                                            </tr>
                                            </tr>
                                            <tr>
                                                <th id="thStyle"> מותן:   </th> 
                                                <td ng-hide="sizeViewField">{{size.waist|| ''}}</td>
                                                <td ng-show="sizeModifyField"><input type="text" ng-model="size.waist" required/></td>
                                            </tr>
                                            <tr>
                                                <th id="thStyle">ירכיים:  </th> 
                                                <td ng-show="sizeModifyField"> <input type="text" ng-model="size.hips" required></td>
                                                <td ng-hide="sizeViewField">  {{size.hips ||''}}</td>
                                            </tr>
                                            <tr>
                                                <th id="thStyle">מעל החזה:</th> 
                                                <td  ng-show="sizeModifyField"> <input type="text" ng-model="size.upChest" required></td>
                                                    <td ng-hide="sizeViewField"> {{size.upChest ||''}}</td>
                                            </tr>
                                            <tr>
                                                <th id="thStyle">מתחת לחזה </th>
                                                <td  ng-show="sizeModifyField"> <input type="text" ng-model="size.downChest " required></td>
                                                <td ng-hide="sizeViewField">  {{size.downChest ||''}}</td>
                                            </tr>
                                            <tr>
                                                <th id="thStyle"> מתפר חזה </th>
                                                <td ng-show="sizeModifyField"> <input type="text" ng-model="size.breast_seam" required></td>
                                                    <td ng-hide="sizeViewField">{{size.breast_seam||''}}</td>
                                            </tr>
                                            <tr>
                                                <th id="thStyle"> מתפר גב </th>
                                                <td ng-show="sizeModifyField"><input type="text" ng-model="size.stitch_back" required></td>
                                                <td ng-hide="sizeViewField">{{size.stitch_back ||''}}</td>
                                            </tr>
                                            <tr>
                                            <tr>
                                                <th id="thStyle"> רוחב קדמי: </th> 
                                                <td ng-show="sizeModifyField"> <input type="text" ng-model="size.front_width" required></td>
                                            <td ng-hide="sizeViewField"> {{size.front_width||''}}</td>
                                            </tr>
                                            <tr>
                                                <th id="thStyle">רוחב גב  : </th>
                                                <td ng-show="sizeModifyField"> <input type="text" ng-model="size.back_weidth" required></td>
                                                <td ng-hide="sizeViewField">{{size.back_weidth||''}}</td>
                                            </tr>
                                            <tr>
                                                <th id="thStyle">רוחב חזה  : </th>
                                                <td ng-show="sizeModifyField"> <input type="text" ng-model="size.chest_weidth" required></td>
                                                <td ng-hide="sizeViewField">{{size.chest_weidth||''}}</td>
                                            </tr>
                                            <tr>
                                                <th id="thStyle"> אורך מהמותן : </th> 
                                                <td  ng-show="sizeModifyField"> <input type="text" ng-model="size.hip_lenght" required></td>
                                                <td ng-hide="sizeViewField">{{size.hip_lenght||''}}</td>
                                            </tr>
                                            <tr>
                                                <th id="thStyle"> אורך צד :</th>

                                                <td  ng-show="sizeModifyField"> <input type="text" ng-model="size.side_lenght" required></td>
                                                <td ng-hide="sizeViewField">{{size.side_lenght||''}}</td>
                                            </tr>
                                            <tr>
                                                <th id="thStyle"> כתפיים  :</th>
                                    
                                                <td  ng-show="sizeModifyField"> <input type="text" ng-model="size.shoulder " required></td>
                                                <td ng-hide="sizeViewField">{{size.shoulder||''}}</td>
                                            </tr>
                                            <tr>
                                                <th id="thStyle"> אורך שרוול  :</th>
                                                <td ng-show="sizeModifyField"> <input type="text" ng-model="size.sleeve_length" required></td>
                                                <td ng-hide="sizeViewField">{{size.sleeve_length||''}}</td>
                                            </tr>
                                            <tr>
                                                <th id="thStyle">אורך שמלה  :</th>
                                                <td ng-show="sizeModifyField"> <input type="text" ng-model="size.dress_lenght " required></td>
                                                <td ng-hide="sizeViewField">{{size.dress_lenght||''}}</td>
                                            </tr>
                                            <tr>
                                                <th id="thStyle" > אורך חלק עליון  :</th>
                                                <td ng-show="sizeModifyField"> <input type="text" ng-model="size.top_lenght" required></td>
                                                <td ng-hide="sizeViewField">{{size.top_lenght||''}}</td>
                                            </tr>
                                            <tr>
                                                <th id="thStyle" > מכנס  :</th>
                                                <td ng-show="sizeModifyField"> <input type="text" ng-model="size.pents" required></td>
                                                <td ng-hide="sizeViewField">{{size.pents||''}}</td>
                                            </tr>
                                             <tr>
                                                <th id="thStyle" > CAP  :</th>
                                                <td ng-show="sizeModifyField"> <input type="text" ng-model="size.cap" required></td>
                                                <td ng-hide="sizeViewField">{{size.cap||''}}</td>
                                            </tr>       
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            
                            <div class="panel panel-default"  >
                                <div class="panel-heading"> תיאור שמלה <small>עודכן ב: {{dress.last_update | date:"HH:MM , dd/MM/yy"}} </small>
                                    <i class="fa fa-save" style="float: left" ng-click="upDress(dress, dress._id)"  ng-show="dressModifyField" > שמירה</i>
                                    <i class="fa fa-pencil" style="float: left" ng-click="dressModify(dress, dress._id)"ng-hide="dressViewField"> עריכה</i>
                                </div>
                                 <div class="panel-body">   
                                      <table class="table table-bordered table-hover table-condensed"  style="width:100% ; float: right">
                                            <tr>
                                                <th id="thStyle">סוג שמלה:   </th> 
                                                <td ng-show="dressModifyField"><input type="text" ng-model="dress.t_dress " required/></td>
                                                <td ng-hide="dressViewField">{{dress.t_dress|| ''}}</td>
                                            </tr>
                                            <tr>
                                                <th id="thStyle">דגם:   </th> 
                                                <td ng-hide="dressViewField">{{dress.model|| ''}}</td>
                                                <td ng-show="dressModifyField"><input type="text" ng-model="dress.model" required/></td>
                                            </tr>
                                            <tr>
                                                <th id="thStyle">צבע:  </th> 
                                                <td ng-show="dressModifyField"> <input type="text" ng-model="dress.color " required></td>
                                                <td ng-hide="dressViewField">  {{dress.color ||''}}</td>
                                            </tr>
                                            <tr>
                                                <th id="thStyle">סוג בד:</th> 
                                                <td  ng-show="dressModifyField"> <input type="text" ng-model="dress.t_cloth" required></td>
                                                    <td ng-hide="dressViewField"> {{dress.t_cloth ||''}}</td>
                                            </tr>
                                            <tr>
                                                <th id="thStyle">סוג תחרה </th>
                                                <td  ng-show="dressModifyField"> <input type="text" ng-model="dress.t_lace " required></td>
                                                <td ng-hide="dressViewField">  {{dress.t_lace ||''}}</td>
                                            </tr>
                                            <tr>
                                                <th id="thStyle"> תיאור מחשוף </th>
                                                <td ng-show="dressModifyField"> <input type="text" ng-model="dress.cleavage_detailes" required></td>
                                                    <td ng-hide="dressViewField">{{dress.cleavage_detailes||''}}</td>
                                            </tr>
                                            <tr>
                                                <th id="thStyle"> מיקום שסע </th>
                                                <td ng-show="dressModifyField"><input type="text" ng-model="dress.cleft_place" required></td>
                                                <td ng-hide="dressViewField">{{dress.cleft_place ||''}}</td>
                                            </tr >
                                            <tr>
                                            <tr>
                                                <th id="thStyle"> שרוול: </th> 
                                                <td ng-show="dressModifyField"> <input type="text" ng-model="dress.sleeve" required> </td>
                                            <td ng-hide="dressViewField"> {{dress.sleeve||''}}</td>
                                            </tr>
                                            <tr>
                                                <th id="thStyle">חצאית נוספת   : </th>
                                                <td ng-show="dressModifyField"> <input type="text" ng-model="dress.another_skirt" required></td>
                                                <td ng-hide="dressViewField">{{dress.another_skirt||''}}</td>
                                            </tr>
                                            <tr>
                                                <th id="thStyle">הערות : </th>
                                                <td ng-show="dressModifyField"> <input type="text" ng-model="dress.remark"></td>
                                                <td ng-hide="dressViewField">{{dress.remark||''}}</td>
                                            </tr>		
                                    </table>
                                 </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="row">
                    <div ng-if="!s1State()">
                      <div class="col-md-12" >
                            <button class="btn btn-primary submit-btn form-control" type="submit" ng-click="finishStage()" value="שלח" ng-model="stage.s" >סיים שלב 1</button>
                            <div class="clearfix"></div>
                      </div>
                    </div>
                       <div ng-if="s1State()">
                      <div class="col-md-12" >
                      </div>
                    </div>
                                  
            </div>
    </div>
 </div>
