
<div class="container">
		<a class="navbar-brand" href="#"> F.H.M </a>
		<p class="navbar-right navbar-text" ng-hide="authenticated"><a href="#/login">התחבר</a> / <a href="#/register">הירשם</a></p>
		<!--<p class="navbar-right navbar-text" ng-show="authenticated"><a href="#" ng-click="logout()">יצי</a></p>
		<p class="navbar-right navbar-text" ng-show="authenticated">Signed in as {{current_user}}</p>-->
	</div>
<form class="form-auth" ng-submit="login()" style="text-align: right">
	<h2>עבודה נעימה</h2>
	<p class="text-warning">{{error_message}}</p>
	<input type="username" ng-model="user.username" placeholder="שם משתמש" class="form-control" style="text-align: right"><br>
	<input type="password" ng-model="user.password" placeholder="סיסמה" class="form-control"style="text-align: right"><br>
	<input type="submit" value="כניסה" class="btn btn-primary form-control" />
</form>
</div>
