
  <div class="col-md-offset-2 col-md-8">
                  <div class="row">
                        <div class="col-md-12">
                            <h1 >תהליך השמלה</h1>
                            <h2 class="page-header"> לקוחה :{{bride.first_name}} {{bride.last_name}} <small> (מצב : {{bride.status}})  מתחתנת ב: {{bride.date_event | date:"dd/MM/yy"}}</small></h2>

                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                 
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                    </div>
                                    <div class="panel-body" style="text-align: center">
                                        <div ng-if="s1">
                                                   <div class="panel panel-default" style="border-color: green"  class="col-md-4">
                                                        <div class="panel-heading" style="color: green; text-shadow: 2px">
                                                        <p> <i class="fa fa-check"></i> בוצע שלב 1</p>
                                                        </div>
                                                    </div>
                                         </div>
                                          <div ng-if="!s1">
                                                      <div class="panel panel-default"  class="col-md-4"  ng-click="forwordStage()">
                                                        <div class="panel-heading">
                                                          <p>  שלב 1</p>
                                                        </div>
                                                    </div>
                                        </div>
                                         <div ng-if="s2">
                                                   <div class="panel panel-default" style="border-color: green"  class="col-md-4">
                                                        <div class="panel-heading" style="color: green; text-shadow: 2px">
                                                        <p> <i class="fa fa-check"></i> בוצע שלב 2</p>
                                                        <div class="panel panel-body"class="col-md-4" >{{stage2}}</div>
                                                        </div>
                                                    </div>
                                         </div>
                                        <div ng-if="!s2 && s1">     
                                         
                                           <div class="panel panel-default" class="col-md-4">
                                               <div class="panel-heading" >
                                                  שלב 2
                                               </div>
                                               <div class="panel panel-body"class="col-md-4" >
                                                    <div>
                                                       <input class="btn   form-control" type="text"   ng-model="newStage.s" placeholder="תיקון שמלה / שמלה חדשה / תיקון חלקים בשמלה">
                                                      
                                                       <button class="btn btn-primary submit-btn form-control"  type="submit" ng-click="sendStage(newStage)" > שלח</button>
                                                    </div>
                                               </div>
                                           </div>
                                        </div>
                                        <div ng-if="s3">
                                                   <div class="panel panel-default" style="border-color: green"  class="col-md-4">
                                                        <div class="panel-heading" style="color: green; text-shadow: 2px">
                                                        <p> <i class="fa fa-check "></i> בוצע שלב 3 - שלב המדידות</p>
                                                        </div>
                                                    </div>
                                         </div>
                                             <div ng-if="!s3 && s1 && s2">
                                                   <div class="panel panel-default"  class="col-md-4">
                                                        <div class="panel-heading" ng-click="finishStage()" >
                                                        <p> סיים שלב מדידות </p>
                                                        </div>
                                                    </div>
                                         </div>
                                             <div ng-if="s4">
                                                   <div class="panel panel-default" style="border-color: green"  class="col-md-4">
                                                        <div class="panel-heading" style="color: green; text-shadow: 2px">
                                                        <p> <i class="fa fa-check "></i> השמלה מוכנה</p>
                                                        </div>
                                                    </div>
                                         </div>
                                             <div ng-if="!s4 && s1 && s2 && s3">
                                                   <div class="panel panel-default"  class="col-md-4">
                                                        <div class="panel-heading" ng-click="finishStageFinel()" >
                                                        <p> סיים שמלה </p>
                                                        </div>
                                                    </div>
                                         </div>
                                           <div ng-if="s5">
                                                   <div class="panel panel-default" style="border-color: green"  class="col-md-4">
                                                        <div class="panel-heading" style="color: green; text-shadow: 2px">
                                                        <p> <i class="fa fa-check "></i>השמלה חזרה מהלקוחה</p>
                                                        </div>
                                                    </div>
                                         </div>
                                             <div ng-if="!s5 && s4  && s1 && s2 && s3">
                                                   <div class="panel panel-default"  class="col-md-4">
                                                        <div class="panel-heading" ng-click="retDressStage()" >
                                                        <p>  לחצי כאן כאשר השמלה חזרה</p>
                                                        </div>
                                                    </div>
                                         </div>

                                         
                                    </div>
                                </div>
                            </div>
                        </div>
                   
  </div>



